[submodule "hello-react"]
	path = hello-react
	url = git@github.com:chohyojae/hello-react.git
[submodule "hooks-tutorial"]
	path = hooks-tutorial
	url = git@github.com:chohyojae/hooks-tutorial.git
[submodule "styling-react"]
	path = styling-react
	url = git@github.com:chohyojae/styling-react.git
[submodule "todo-app"]
	path = todo-app
	url = git@github.com:chohyojae/todo-app.git
[submodule "immer-tutorial"]
	path = immer-tutorial
	url = git@github.com:chohyojae/immer-tutorial.git
[submodule "router-tutorial"]
	path = router-tutorial
	url = git@github.com:chohyojae/router-tutorial.git
[submodule "news-viewer"]
	path = news-viewer
	url = git@github.com:chohyojae/news-viewer.git
[submodule "context-tutorial"]
	path = context-tutorial
	url = git@github.com:chohyojae/context-tutorial.git
[submodule "vanilla-redux"]
	path = vanilla-redux
	url = git@github.com:chohyojae/vanilla-redux.git
